# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/kotlinc.xml
target/
.idea/vcs.xml
.idea/libraries/Maven__org_json_json_20160212.xml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# IntelliJ Idea project files
.idea
*.iml
*.ipr
*.iws
src/test/
